<%- include('../partials/header'); -%>
<div class="content-wrapper">
<div class="content">							
	<div class="breadcrumb-wrapper">
		<h1>All Posts</h1>
		<a href="/admin/add-post" class="btn btn-primary">Add Post</a>
	</div>
	
<div class="row">
	<div class="col-12">
		<div class="card card-default">
			<div class="card-body">
				<%- include('../../fpartials/message'); %>
				<div class="hoverable-data-table">
					<div class="dataTables_wrapper dt-bootstrap4 no-footer" id="hoverable-data-table_wrapper">
						<table class="table table-hover nowrap dataTable no-footer" id="hoverable-data-table" role="grid" aria-describedby="hoverable-data-table_info" style="width: 100%;">
						<thead>
							<th>Sl no.</th>
							<th>Title</th>
							<th>Author</th>
							<th>Actions</th>
						</thead>

						<tbody>	
							<% if(all_post.length > 0){ %>
								<% all_post.forEach(post => { %>
								
								<tr class="odd" role="row">
									<td><%= post.id %></td>
									<td><%= post.title %></td>
									<td><%= post.author %></td>
									<td>
										
										<a class="btn-sm btn-primary" href="/admin/edit-post/<%= post.id %>" >Edit</a>
										
										
										<form action="/admin/delete-post" method="post" class="float-left" id="deleteForm" >
											<input type="hidden" name="id" value="<%=post.id%>">
										</form>
											<a id="delete" href="#" value="delete" class="btn-sm btn-danger" onclick="submitDeleteForm()">Delete</a>
										
									</td>								
								</tr>	
							<%	}) %>
						<%	} %>
						</tbody>
					</table>
					<div class="row justify-content-between bottom-information">
						<div class="dataTables_info" id="hoverable-data-table_info">Showing 1 to 20 of 57 entries</div>
							<div class="dataTables_paginate paging_simple_numbers" id="hoverable-data-table_paginate">
								<ul class="pagination">
									<li class="paginate_button page-item previous disabled" id=
									 	"hoverable-data-table_previous">
										<a class="page-link" href="#" >Previous</a>
									</li>
									<li class="paginate_button page-item active">
										<a class="page-link" href="#" >1</a>
									</li>									
									<li class="paginate_button page-item next" id="hoverable-data-table_next">
										<a class="page-link">Next</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>				

    </div>

    </div>
  </div>

<%- include('../partials/footer'); -%>

<script>
	function submitDeleteForm(){			
		document.getElementById('deleteForm').submit();
	}

</script>